<p>
  login works!
</p>
<div style="width: 50%; margin-left: 30px ; border:black 1px thin;">
  <fieldset>  
    <form>
      <div style="margin-bottom: 25px;margin-left:30px;" class="input-group">
      <input type="text" class="form-control" id="name" required="true" placeholder="User Name / Email">
      </div>
      <div style="margin-bottom: 25px;margin-left: 30px"  class="input-group">
      <input  id="login-password"  type="password" class="form-control" id="name" required="true" placeholder="Password">
    </div>
  
        <div>
            <button id="btn-fbsignup" type="button" class="btn btn-primary" style="width: 100%;margin-left: 30px;">Login</button>
        </div>                                           
    </form>
  </fieldset>
  </div>
  