<div style="width: 60%; float:right;">
  <form>
      <fieldset>  
    <div style="margin-bottom: 25px;margin-left:30px;" class="input-group">
      <input type="text" class="form-control" id="name" required="true" placeholder="First Name">
    </div>
    <div style="margin-bottom: 25px;margin-left: 30px" class="input-group">
      <input type="text" class="form-control" id="name" required="true" placeholder="Last Name">
    </div>
    <div style="margin-bottom: 25px;margin-left:30px;" class="input-group">
      <input type="text" class="form-control" id="name" required="true" placeholder="Email">
    </div>
    <div style="margin-bottom: 25px;margin-left:30px;" class="input-group">
      <input type="text" class="form-control" id="name" required="true" placeholder="Location">
    </div>
    <div style="margin-bottom: 25px;margin-left:30px;" class="input-group">
      <input type="text" class="form-control" id="name" required="true" placeholder="Country">
    </div>
    <div style="margin-bottom: 25px;margin-left: 30px" class="input-group">
      <input id="login-password" type="password" class="form-control" id="name" required="true" placeholder="Password">
    </div>
    <div style="margin-bottom: 25px;margin-left: 30px" class="input-group">
      <input id="login-password" type="password" class="form-control" id="name" required="true" placeholder="Confirm Password">
    </div>
      
                                        
          <div>
              <button id="btn-fbsignup" type="button" class="btn btn-primary" style="width: 100%;margin-left: 30px;">Register</button>
          </div>                                           
            
    </fieldset>
  </form>
  
  </div>